# OpenFOAM processor folders
processor*/
# Large mesh files
constant/polyMesh/
# Time directories in CFD results

# Logs
*.log
log.*
# Python
venv/
__pycache__/
*.pyc
*.pkl
# Windows
Thumbs.db
desktop.ini
